.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    gap: 1.5rem 1.5rem;
    justify-items: stretch;
}

/* items */
div div {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 3em;
}

/* specific item styles */

.item-1 {
    background: #b03532;
    visibility: hidden;
}
.item-2 {
    background: #33a8a5;
    grid-column-start: 2;
    grid-row-start: 1;
}
.item-3 {
    background: #30997a;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
}
.item-4 {
    background: #6a478f;
    grid-column-start: 1;
    grid-row-start: 2;
}
.item-5 {
    background: #da6f2b;
    grid-column-start: 2;
    grid-row-start: 2;
}
.item-6 {
    background: #3d8bb1;
    visibility: hidden;
}
.item-7 {
    background: #e03f3f;
    grid-column-start: 1;
    grid-row-start: 3;
}
.item-8 {
    background: #59a627;
    grid-column-start: 2;
    grid-row-start: 3;
}
.item-9 {
    background: #4464a1;
    grid-column-start: 1;
    grid-row-start: 1;
}
@media (min-width: 760px) {
    .container {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, auto);
    }
    .item-1 {
        visibility: visible;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
    }
    .item-2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
    }
    .item-3 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
    }
    .item-4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
    }
    .item-5 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
    }
    .item-6 {
        visibility: visible;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
    }
    .item-7 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
    }
    .item-8 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
    }
    .item-9 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
    }
}