.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, auto);
    justify-items: stretch;
    gap: .5rem .8rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.container .block{
    padding: 20px;
    background-color: white;
}
@media screen and (min-width: 320px) {
    .block {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .block.block1{
        grid-row-start: 2;
        grid-row-end: 3;
        background-color: magenta;
    }
    .block.block2{
        grid-row-start: 1;
        grid-row-end: 2;
        background-color: mediumpurple;
    }
    .block.block3{
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: cadetblue;
    }
    .block.block4{
        grid-row-start: 4;
        grid-row-end: 5;
        background-color: lightskyblue;
    }
}
@media screen and (min-width: 772px) {
    .block.block1{
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .block.block2{
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .block.block3{
        grid-row-start: 2;
        grid-row-end: 3;
    }
}
@media screen and (min-width: 992px) {

    .block.block2{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .block.block3{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .block.block4{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

