


body {
	font: 1.2em/1.2 Helvetica, aria, sans-serif;
	margin: 0 3%;
}

h1 {
	font-size: 1.8em;
	margin: .9em 0 0 0;
}
h2 {
	font-size: 1.5em;
	margin: 1.5em 0 0 0;
}

img {
	max-width: 100%;
}

figure {
	background: black;
	border-radius: 5px;
	color: red;
	margin: 0 0 25px 0;
	padding: 10px;
	text-align: center;
    display: inline-block;
	
}

figcaption {
	font-size: .8em;
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: mediumslateblue;
    }
    figure {
        width: 40%;
        float: left;
        margin-right: 4%;
    }

    figure:nth-child(2n) {
        margin-right: 0; /* laatste in rij netjes zetten */
    }

}
@media screen and (min-width: 992px) {
    body {
        background-color: lightgreen;
    }
    figure {
        width: 29%;
        float: left;
        margin-right: 2%;
    }

    figure:nth-child(3n+1) {
        margin-right: 0; /* laatste in rij netjes zetten */
    }
}