#playField {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    position: relative;
    margin-top: 10px;
}

#target {
    position: absolute;
    width: 48px;
    height: 48px;
    display: none; /* verborgen bij start */
    cursor: pointer;
}